[Unit]
Description=qBittorrent Daemon Service
After=network.target

[Service]
Type=forking
User=media
ExecStart=/usr/bin/qbittorrent-nox --webui-port=8090 -d

[Install]
WantedBy=multi-user.target
